# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build


# Some configurations:
*.ini
*.xls
*.txt

#logs
*.log

# Some system file
celerybeat-schedule
supervisord_local.conf
conf_local.ini

# some test file
test_relative_file/